* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #ff9800;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.header-area,
.header-search {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
  background: gray;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}

.header-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
  padding: 15px;
}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}

.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.header-area .links li a:hover,
.header-area .links li .active {
  color: var(--main-color);
}
/* line navbar */
.line {
  width: 100%;
  height: 2px;
  background: var(--main-color);
  position: relative;
  z-index: 99;
}

/* bar-search */
.header-search .row {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 20px;
  font-size: 15px;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
.header-search .row .col-auto .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -moz-appearance: none;
  border-radius: 0.25rem;
}
.header-search .title {
  width: 300px;
  padding-top: 25px;
  font-weight: bold;
}
.header-search .row .col-auto .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  margin-left: 5px;
}
/* about us */
.container {
  width: 79%;
  padding-left: 15px;
  padding-right: 15px;
  padding: 43px;
  margin: auto;
  display: flex;
}
.about h2 {
  padding: 11px;
  width: 300px;
  font-size: 21px;
  color: black;
}
.about p {
  padding: 11px;
  color: rgb(93 89 89);
}
.about .box-parg span {
  padding: 11px;
  color: black;
  padding-bottom: 25px;
}
.about .box-parg {
  padding: 10px !important;
  background: #e6e6e6;
  margin: 10px;
  color: white;
}
.content {
  width: 33%;
}
.left-bar {
  padding: 17px !important;
  background: gray;
  margin: 10px;
  color: white;
  margin-top: 58px;
}
.left-bar h2 {
  padding: 11px;
  width: 300px;
  font-weight: bold;
  color: #fff;
}

.content .left-bar .col-auto .btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  /* border-radius: 0.25rem; */
  margin-left: 5px;
}
.content .left-bar .col-auto .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -moz-appearance: none;
  border-radius: 0.25rem;
}

/* footer*/
.footer {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
  background: gray;
  text-align: center;
}

.copyright {
  line-height: 1.8;
  color: white;
  margin: 0;
  margin: 20px auto;
}
